
.vs/PhilosophyProject/v16/ipch/AutoPCH/63686631ae5f689f/PLAYABLECHARACTER.ipch
Saved/Backup/BP_PlayableCharacter_2020-08-18-20-42-58.uasset
Saved/Backup/Location_1_2020-08-18-20-53-24.umap
Saved/Backup/Location_3_2020-08-18-22-41-34.umap
Saved/Config/CrashReportClient/UE4CC-Windows-16F7E094478C9A5E3FE957925766B1A0/CrashReportClient.ini
Saved/Logs/PhilosophyProject-backup-2020.08.18-19.32.07.log
Saved/Logs/PhilosophyProject.log
Saved/Logs/PhilosophyProject.log
Saved/Logs/PhilosophyProject.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry.bin
